
// File: source/config/variaveris.scss
// This file contains the variables used throughout the application
$fontprincipal: 'Roboto', sans-serif;
// Colors
// These are used to define the color scheme of the application
$corDefundo:#c8d6e5;
$corPrincipal:#10ac84;
$corSecundaria:#1dd1a1;
// Breakpoints
// These are used to create responsive designs
$mobile: 768px;
$tablet: 1024px;